*{
  margin: 0;
  padding: 0;
}

body {
  margin: 40px;
  background-color: #2c423f;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;

}

.card {
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.Header {
  margin-left: 5%;
  margin-top: 52%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}

#tsk1{
  background:#5d3a3a
}

#tsk1 > p{
  width: 50%;
  height: 66%;
  background:#b5e0ba
}

#tsk2{
  display: grid;
  grid-template:  "p p";
  background: #62374e;
}

#tsk2 > p{
  margin: 42px 158px 58px 42px; 
  width: 50px; 
  height: 50px;
   background: #fdc57b
}

#tsk3{
  display:grid;
  place-items:center;
  background: #6592CF;
  z-index: 1;
}

#tsk3 > p{
  width:50px;
  height:50px;
  border-radius:100%;
  box-shadow:0 0 0px 50px #6592CF;
  border:50px solid#243D83;
  background:#EEB850;
}

#tsk3 > p::before{
  content:"";
  position: absolute;
  z-index:-1;
  margin:-50px -125px ;
  width:300px;
  height:150px;
  background:#243D83;
}

#tsk4{
  display:grid;
  place-items:center;
  background: #623060;
}

#tsk4 > p {
  width:101px;
  height:101px;
  margin-bottom: 115px;
  border-radius: 100% 100% 0 0;
  background: #F7EC7D;
}

#tsk4 > p::before{
  content:"";
  position: absolute;
  width:100px;
  height:101px;
  margin: 100px;
  border-radius: 0 0 100% 100%;
  background: #F7EC7D;
}

#tsk4 > p::after{
  content:"";
  position: absolute;
  width:100px;
  height:101px;
  margin: 100px 0 100px -100px;
  border-radius: 0 0 100% 100%;
  background: #F7EC7D;
}